## Day 9: Marble Mania

https://adventofcode.com/2018/day/9

### Part 1

Good old `deque`.

In [1]:
from collections import deque


def game(players, highest_marble, display_game=False):
    circle = deque([0])
    scores = [0 for _ in range(players)]
    current_player = 0
    
    for marble in range(1, highest_marble + 1):
        if marble % 23 == 0:
            scores[current_player] += marble
            circle.rotate(7)
            scores[current_player] += circle.popleft()
        else:
            circle.rotate(-2)
            circle.appendleft(marble)
            
        current_player = (current_player + 1) % players 
            
        if display_game:
            print(circle)
            
    return max(scores)

In [2]:
game(9, 25, display_game=True)

deque([1, 0])
deque([2, 1, 0])
deque([3, 0, 2, 1])
deque([4, 2, 1, 3, 0])
deque([5, 1, 3, 0, 4, 2])
deque([6, 3, 0, 4, 2, 5, 1])
deque([7, 0, 4, 2, 5, 1, 6, 3])
deque([8, 4, 2, 5, 1, 6, 3, 7, 0])
deque([9, 2, 5, 1, 6, 3, 7, 0, 8, 4])
deque([10, 5, 1, 6, 3, 7, 0, 8, 4, 9, 2])
deque([11, 1, 6, 3, 7, 0, 8, 4, 9, 2, 10, 5])
deque([12, 6, 3, 7, 0, 8, 4, 9, 2, 10, 5, 11, 1])
deque([13, 3, 7, 0, 8, 4, 9, 2, 10, 5, 11, 1, 12, 6])
deque([14, 7, 0, 8, 4, 9, 2, 10, 5, 11, 1, 12, 6, 13, 3])
deque([15, 0, 8, 4, 9, 2, 10, 5, 11, 1, 12, 6, 13, 3, 14, 7])
deque([16, 8, 4, 9, 2, 10, 5, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0])
deque([17, 4, 9, 2, 10, 5, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8])
deque([18, 9, 2, 10, 5, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4])
deque([19, 2, 10, 5, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4, 18, 9])
deque([20, 10, 5, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4, 18, 9, 19, 2])
deque([21, 5, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4, 18, 9, 19, 2, 20, 10])
deque([22, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4, 18, 9, 19, 2, 20, 10, 21, 5])
deque([19, 2, 20, 10, 21, 5, 22, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4, 18])
deque([24, 20, 10, 21, 5, 22, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4, 18, 19, 2])
deque([25, 10, 21, 5, 22, 11, 1, 12, 6, 13, 3, 14, 7, 15, 0, 16, 8, 17, 4, 18, 19, 2, 24, 20])

32

That looks OK. Try on the rest of the test data.

In [3]:
#    10 players; last marble is worth 1618 points: high score is 8317
assert game(10, 1618) == 8317
#    13 players; last marble is worth 7999 points: high score is 146373
assert game(13, 7999) == 146373
#    17 players; last marble is worth 1104 points: high score is 2764
assert game(17, 1104) == 2764
#    21 players; last marble is worth 6111 points: high score is 54718
assert game(21, 6111) == 54718
#    30 players; last marble is worth 5807 points: high score is 37305

The puzzle scenario is "403 players; last marble is worth 71920 points".

In [4]:
game(403, 71920)

439089

### Part 2

In [5]:
%time game(403, 7192000)

CPU times: user 3.55 s, sys: 120 ms, total: 3.67 s
Wall time: 3.67 s

3668541094