# Day 1 
## Part 1

In [1]:
def parse_data(s):
    return s.strip().splitlines()

test_input = """1abc2
pqr3stu8vwx
a1b2c3d4e5f
treb7uchet"""

test_data = parse_data(test_input)
test_data

['1abc2', 'pqr3stu8vwx', 'a1b2c3d4e5f', 'treb7uchet']

In [2]:
def part_1(data):
    total = 0
    for line in data:
        # Find the integers in the line
        ints = [x for x in line if x.isnumeric()]
        # Put the first and last together to get
        # the calibration value
        total += int(ints[0] + ints[-1])
    return total

assert part_1(test_data) == 142

In [3]:
data = parse_data(open("input").read())
part_1(data)

53974

## Part 2
Surprisingly tricky for the first day.

In [4]:
WORD_TO_NUMBER =  {
    word: str(number)
    for word, number
    in zip(
        "one,two,three,four,five,six,seven,eight,nine".split(","),
        range(1, 10)
    )
}
        
WORD_TO_NUMBER

{'one': '1',
 'two': '2',
 'three': '3',
 'four': '4',
 'five': '5',
 'six': '6',
 'seven': '7',
 'eight': '8',
 'nine': '9'}

In [5]:
def replace_numeric_words(s):
    for w in WORD_TO_NUMBER:
        s = s.replace(w, WORD_TO_NUMBER[w])
    return s

replace_numeric_words("4nineeightseven2")

'49872'

In [6]:
def part_2(data):
    return part_1(replace_numeric_words(line) for line in data)

test_data_2 = parse_data("""two1nine
eightwothree
abcone2threexyz
xtwone3four
4nineeightseven2
zoneight234
7pqrstsixteen""")

part_2(test_data_2)

211

Wrong. Check the conversion from words to numbers.

In [7]:
[replace_numeric_words(line) for line in test_data_2]

['219', 'eigh23', 'abc123xyz', 'xtw134', '49872', 'z1ight234', '7pqrst6teen']

There are overlaps. The input is small enough that I'm just going to check for the first and last digit by brute force.

In [8]:
import itertools

WORD_TO_NUMBER =  {
    word: str(number)
    for word, number
    in itertools.chain(
        zip(
            "one,two,three,four,five,six,seven,eight,nine".split(","),
            range(1, 10)
        ),
        ( (str(x), str(x)) for x in range(1, 10) )
    )
}

WORD_TO_NUMBER

{'one': '1',
 'two': '2',
 'three': '3',
 'four': '4',
 'five': '5',
 'six': '6',
 'seven': '7',
 'eight': '8',
 'nine': '9',
 '1': '1',
 '2': '2',
 '3': '3',
 '4': '4',
 '5': '5',
 '6': '6',
 '7': '7',
 '8': '8',
 '9': '9'}

For the first integer work forwards from the start of the string to find a number, work backwards to find the last.

In [9]:
def find_integer(substrings):
    """Find the first in a sequence of substrings
    beginning with a number and return that
    number as a decimal string."""
    for s in substrings:
        for w in WORD_TO_NUMBER:
            if s.startswith(w):
                return WORD_TO_NUMBER[w]
            
def first_substrings(s):
    """Create a sequence of substrings of a string
    beginning with the first, then second, then third etc
    characters in the string."""
    for i in range(len(s)):
        yield s[i:]
        
def last_substrings(s):
    """Create a sequence of substrings of a string
    beginning with the last, then second last, etc
    characters in the string."""
    for i in range(len(s) - 1, -1, -1):
        yield s[i:]
        
def calibration_value(line):
    return int(find_integer(first_substrings(line)) + find_integer(last_substrings(line)))

[calibration_value(line) for line in test_data_2]

[29, 83, 13, 24, 42, 14, 76]

In [10]:
sum(_)

281

That's better.

In [11]:
def part_2(data):
    return sum(calibration_value(line) for line in data)

assert part_2(test_data_2) == 281

In [12]:
part_2(data)

52840